@use "@/shared/assets/styles/valuelibrary";

.createFolderBtn{
  font-size: 20px;
  font-family: MullerRegular, serif;
  color: white;

  padding: 0px;
  padding-block: 0px;

  margin-bottom: 2vh;

  border: none;
  border-bottom: 1px solid transparent;

  background-color: transparent;

  &:hover{
    border-color: valuelibrary.$interaction_color;

    color: valuelibrary.$interaction_color;

    cursor: pointer;
  }
}