.mailWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  font-family: MullerRegular, serif;
  font-size: 18px;

  .checkStatusImg{
    margin-left: 1vw;

    width: 32px;
    height: 32px;

    &:hover{
      cursor: pointer;
    }
  }

  .senderName{
    width: 5vw;

    overflow: hidden;
    white-space: nowrap;

    margin-left: 1vw;
    text-align: start;
  }

  .mailCheckbox:hover{
    cursor: pointer;
  }

  .mailText{
    width: 85%;

    margin-left: 0.5vw;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    text-align: start;
  }

  .mailDate{
    margin-left: 1vw;
  }
}