.footerWrapper{
  width: auto;
  height: 7vh;

  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;

  .footerLinkSection *{
    margin-right: 1vw;
  }

  span{
    font-family: MullerRegular, serif;
  }
}