@use "@/shared/styles/valuelibrary";

.inputWrapper{
  height: 2.4vh;
  width: 15vw;

  font-family: MullerRegular, serif;
  font-size: 2vh;

  border: 1px solid black;
  border-radius: 3px;

  &:hover{
    border-color: valuelibrary.$interaction_color;
  }

  &:focus{
    outline-color: valuelibrary.$interaction_color;
  }
}