@use "@/shared/styles/valuelibrary";

.foldersSectionWrapper{
  font-family: MullerRegular, serif;
  font-size: 18px;

  padding: 10px;
  margin-right: 2vh;

  width: 15vw;

  border: 1px solid transparent;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 2px 20px valuelibrary.$main_color;

  background-color: valuelibrary.$main_color;
  color: white;

  .foldersListWrapper{
    padding: 0;
    margin-block: 0;

    list-style-type: none;

    overflow-y: auto;

    .folderWrapper{
      margin-bottom: 1vh;
    }
  }
}