.mailsWrapper{
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 85%;

  .mailsList{
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    .mail{
      height: 4vh;
    }
  }
}