@use "@/shared/styles/valuelibrary";

.mailsWrapper{
  display: flex;
  flex-direction: column;

  padding: 1vh;

  height: 97.5%;
  width: 79vw;

  border: 1px solid valuelibrary.$opposite_color;
  border-radius: 10px 0 0 10px;
  box-shadow: 2px 2px 20px valuelibrary.$opposite_color;

  .mailsList{
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    .mail{
      height: 4vh;

      margin-bottom: 1vh;
    }
  }
}