.headerWrapper{
  width: auto;
  height: 7vh;

  display: flex;
  flex-direction: row;
  align-items: center;

  .userInfo{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: auto;

    .userName{
      text-decoration: none;
      font-family: MullerRegular, serif;
      color: black;
  }

    .userImg{
      margin-left: 1vw;
    }
  }

  img{
    width:5vh;
    height: 5vh;
  }
}